/* _content/MyRazorApp/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9aw7s3prfw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9aw7s3prfw] {
  color: #0077cc;
}

.btn-primary[b-9aw7s3prfw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9aw7s3prfw], .nav-pills .show > .nav-link[b-9aw7s3prfw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9aw7s3prfw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9aw7s3prfw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9aw7s3prfw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9aw7s3prfw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9aw7s3prfw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.table-container[b-9aw7s3prfw] {
  max-height: 400px;  /* Set the maximum height for the table */
  overflow-y: auto;   /* Enable vertical scrolling */
  display: block;     /* Required to make it scrollable */
  width: 100%;        /* Ensure it takes up full width */
}

table[b-9aw7s3prfw] {
  width: 100%;        /* Table should take up the full width of the container */
  border-collapse: collapse;  /* Optional: for a more compact look */
}

th[b-9aw7s3prfw], td[b-9aw7s3prfw] {
  padding: 10px;      /* Add some padding */
  text-align: left;   /* Align text to the left */
  border: 1px solid #ddd; /* Optional: for table borders */
}
